@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    font-family: 'Nunito', sans-serif;
}
html{
    overflow-x: hidden;
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
}
#firstSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:52% 48% 49% 51% / 46% 42% 58% 54%    ;
    -webkit-border-radius:52% 48% 49% 51% / 46% 42% 58% 54%    ;
    -moz-border-radius:52% 48% 49% 51% / 46% 42% 58% 54%    ;
    -ms-border-radius:52% 48% 49% 51% / 46% 42% 58% 54%    ;
    -o-border-radius:52% 48% 49% 51% / 46% 42% 58% 54%    ;
}
.generation{
    letter-spacing: 5px;
}
.profileCard{
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    left: 0;
    cursor: pointer;
    /* z-index: 1; */
    background: linear-gradient(360deg, #3C3C3C 0%, rgba(60, 60, 60, 0.604167) 32.81%, rgba(60, 60, 60, 0) 100%) !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.profileCard img{
    /* z-index: -2; */
    object-fit: cover;
}
.profileCard:hover .profileCard img{
  transform: scale(1.2,1.2);
  transition: ease-in 1s;
  -webkit-transition: ease-in 1s;
  -moz-transition: ease-in 1s;
  -ms-transition: ease-in 1s;
  -o-transition: ease-in 1s;
  -webkit-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
}
.communication{
    background-color: rgba(0, 0, 0, 0.125) !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.communication .text-end:hover{
  transform: translateX(7px);
  -webkit-transform: translateX(7px);
  -moz-transform: translateX(7px);
  -ms-transform: translateX(7px);
  -o-transform: translateX(7px);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.bg-img{
    position: absolute;
    top: -400px;
    right: -100px;
    width: 650px;
    height: 600px;
    border-radius: 60% 40% 70% 30% / 43% 48% 52% 57% ;
    -webkit-border-radius: 60% 40% 70% 30% / 43% 48% 52% 57% ;
    -moz-border-radius: 60% 40% 70% 30% / 43% 48% 52% 57% ;
    -ms-border-radius: 60% 40% 70% 30% / 43% 48% 52% 57% ;
    -o-border-radius: 60% 40% 70% 30% / 43% 48% 52% 57% ;
    background-color: violet;
    z-index: -1;
}
.st-bg{
   width: 100px;
    background-color: yellow;
    border-radius: 41% 59% 35% 65% / 52% 30% 70% 48% ;
    -webkit-border-radius: 41% 59% 35% 65% / 52% 30% 70% 48% ;
    -moz-border-radius: 41% 59% 35% 65% / 52% 30% 70% 48% ;
    -ms-border-radius: 41% 59% 35% 65% / 52% 30% 70% 48% ;
    -o-border-radius: 41% 59% 35% 65% / 52% 30% 70% 48% ;
}
.gmail{
    width: 45px;
    height: 45px;
    background-color: #BB001B99;
    text-decoration: none !important;
    border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -webkit-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -moz-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -ms-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -o-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
} 
.bi-envelope{
    color: gray !important;
}
.bi-envelope:hover{
    color: #BB001B !important;
    transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -ms-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
}
.gmail:hover{
    color: #BB001B !important;
    background-color: transparent !important;
    transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -ms-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
}
.linkedin{
    width: 45px;
    height: 45px;
    background-color: #0a66c299;
    border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -webkit-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -moz-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -ms-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -o-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
}
.linkedin:hover{
    color: #0a66c2;
    background-color: transparent !important;
    transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -ms-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
}
.github{
        width: 45px;
        height: 45px;
        color: gray !important;
        background-color: #6e549499 !important ;
        border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
        -webkit-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
        -moz-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
        -ms-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
        -o-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
}
.bi-github{
    color: gray !important;
}
.bi-github :hover{
    color: #6e5494 !important;
    transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -ms-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
}
.github:hover{
    color: #6e5494 !important;
    background-color: transparent !important;
    transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -ms-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
    /* background-color: transparent; */
}
.noDecoration{
    text-decoration: none !important;
}
.homework{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: violet;
    z-index: -1;
    top: 40px;
    right: 460px;
    border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -webkit-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -moz-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -ms-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -o-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
}
@media (max-width: 992px) {
    .first-bg,
    .second-bg,
    .third-bg,
    .fourth-bg{
        visibility: hidden;
    }
    .firstItem{
        order: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .secondItem{
        order: 2;
        display: block;
    }
    .thirdItem{
        order: 1;
        display: block;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .gmail{
        margin-right: 1rem;
    }
    .linkedin{
        margin-right: 1rem;
    }
    .github{
        margin-right: 1rem;
    }
  }
  /* https://github.com/HsuMyatNg/HMNPortfolio.git */