@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*overflow-x: hidden;
    */font-family: 'Nunito', sans-serif;
    transition: ease-in-out 1s !important;
    -webkit-transition: ease-in-out 1s !important;
    -moz-transition: ease-in-out 1s !important;
    -ms-transition: ease-in-out 1s !important;
    -o-transition: ease-in-out 1s !important;
}
html{
    overflow-x: hidden;
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
}
#firstSection img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius:52% 48% 49% 51% / 46% 42% 58% 54%    ;
    -webkit-border-radius:52% 48% 49% 51% / 46% 42% 58% 54%    ;
    -moz-border-radius:52% 48% 49% 51% / 46% 42% 58% 54%    ;
    -ms-border-radius:52% 48% 49% 51% / 46% 42% 58% 54%    ;
    -o-border-radius:52% 48% 49% 51% / 46% 42% 58% 54%    ;
}
.generation{
    letter-spacing: 5px;
}
.profileCard{
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    left: 0;
    cursor: pointer;
    /* z-index: 1; */
    background: linear-gradient(360deg, #3C3C3C 0%, rgba(60, 60, 60, 0.604167) 32.81%, rgba(60, 60, 60, 0) 100%) !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.profileCard img{
    /* z-index: -2; */
    object-fit: cover;
}
.profileCard:hover .profileCard img{
  transform: scale(1.2,1.2);
  transition: ease-in 1s;
  -webkit-transition: ease-in 1s;
  -moz-transition: ease-in 1s;
  -ms-transition: ease-in 1s;
  -o-transition: ease-in 1s;
  -webkit-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
}
.communication{
    background-color: rgba(0, 0, 0, 0.125) !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.communication .text-end:hover{
  transform: translateX(7px);
  -webkit-transform: translateX(7px);
  -moz-transform: translateX(7px);
  -ms-transform: translateX(7px);
  -o-transform: translateX(7px);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.bg-img{
    position: absolute;
    top: -400px;
    right: -100px;
    width: 650px;
    height: 600px;
    border-radius: 60% 40% 70% 30% / 43% 48% 52% 57% ;
    -webkit-border-radius: 60% 40% 70% 30% / 43% 48% 52% 57% ;
    -moz-border-radius: 60% 40% 70% 30% / 43% 48% 52% 57% ;
    -ms-border-radius: 60% 40% 70% 30% / 43% 48% 52% 57% ;
    -o-border-radius: 60% 40% 70% 30% / 43% 48% 52% 57% ;
    background-color: violet;
    z-index: -1;
}
.st-bg{
   width: 100px;
    background-color: yellow;
    border-radius: 41% 59% 35% 65% / 52% 30% 70% 48% ;
    -webkit-border-radius: 41% 59% 35% 65% / 52% 30% 70% 48% ;
    -moz-border-radius: 41% 59% 35% 65% / 52% 30% 70% 48% ;
    -ms-border-radius: 41% 59% 35% 65% / 52% 30% 70% 48% ;
    -o-border-radius: 41% 59% 35% 65% / 52% 30% 70% 48% ;
}
.mail{
    width: 60px;
    height: 60px;
    padding: 0.5rem 0 0 0;
    background-color:  #EA433599;
    text-decoration: none !important;
    border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -webkit-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -moz-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -ms-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -o-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
}
.mail:hover .bi-envelope{
    color:  #EA4335 !important;
   
}
.mail:hover{
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid  #EA433599;
}
.linkedin{
    width: 60px;
    height: 60px;
    padding: 0.5rem 0 0 0;
    background-color: #0a66c299;
    border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -webkit-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -moz-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -ms-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
    -o-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
}
.linkedin:hover .bi-linkedin{
    color:  #0a66c2 !important;
   
}
.linkedin:hover{
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid  #0a66c299;
}
.github{
    width: 60px;
    height: 60px;
    padding: 0.5rem 0 0 0;
        background-color: #6e549499 ;
        border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
        -webkit-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
        -moz-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
        -ms-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
        -o-border-radius: 46% 54% 53% 47% / 43% 48% 52% 57% ;
}
.github:hover .bi-github{
    color:  #6e5494 !important;
}
.github:hover{
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid  #6e549499;
}
.first-bg{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgb(134, 76, 192,0.5);
    z-index: -1;
    top: 350px;
    right: 650px;
    border-radius: 74% 26% 70% 30% / 39% 52% 48% 61% ;
    -webkit-border-radius: 74% 26% 70% 30% / 39% 52% 48% 61% ;
    -moz-border-radius: 74% 26% 70% 30% / 39% 52% 48% 61% ;
    -ms-border-radius: 74% 26% 70% 30% / 39% 52% 48% 61% ;
    -o-border-radius: 74% 26% 70% 30% / 39% 52% 48% 61% ;
}
.second-bg{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(32, 121, 194,0.5);
    z-index: -1;
    top: 550px;
    right: 650px;
    border-radius: 47% 53% 70% 30% / 48% 52% 48% 52%  ;
    -webkit-border-radius: 47% 53% 70% 30% / 48% 52% 48% 52%  ;
    -moz-border-radius: 47% 53% 70% 30% / 48% 52% 48% 52%  ;
    -ms-border-radius: 47% 53% 70% 30% / 48% 52% 48% 52%  ;
    -o-border-radius: 47% 53% 70% 30% / 48% 52% 48% 52%  ;
}
.third-bg{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #7ba3c2;
    z-index: -1;
    top: 450px;
    right: 180px;
    border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -webkit-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -moz-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -ms-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -o-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
}
.fourth-bg{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgb(231, 108, 231,0.5);
    z-index: -1;
    top: 350px;
    right: 0;
    border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -webkit-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -moz-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -ms-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -o-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
}
.homework{
    width: 100px;
    background-color: yellow;
    padding: 5px;
    border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -webkit-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -moz-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -ms-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
    -o-border-radius: 37% 63% 54% 46% / 61% 31% 69% 39%   ;
}
@media (max-width: 992px) {
    /* .first-bg,
    .second-bg,
    .third-bg,
    .fourth-bg{
        visibility: hidden;
    } */
    .firstItem{
        order: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .secondItem{
        order: 2;
        display: block;
    }
    .thirdItem{
        order: 1;
        display: block;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .mail{
        margin-right: 1rem;
    }
    .linkedin{
        margin-right: 1rem;
    }
    .github{
        margin-right: 1rem;
    }
  }
  /* https://github.com/HsuMyatNg/HMNPortfolio.git */